body {
    background-color: aqua;
}

.container {
    display: flex;
    background-color: whitesmoke;
    gap: 10px;
    /* height: 600px; */
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.item1 {
    width: 200px;
    height: 200px;
    background-color: black;
    color: aliceblue;
}
